[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ccxt = "*"
django = "*"
django-model-utils = "*"
djangorestframework = "*"
djangorestframework-bulk = "*"
django-cryptography = "*"
django-crispy-forms = "*"
django-extensions = "*"
django-allauth = "*"
django-rest-auth = "*"
channels = "*"
channels-redis = "*"
django-cors-headers = "*"
django-filter = "*"
uvicorn = "*"
django-environ = "*"
whitenoise = "*"
django-imagekit  = "*"

[requires]
python_version = ">=3.6"
