{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            运行日志
          </div>
          <div class="card-body" id="robot-log-console"></div>
        </div>
      </div>
      <div class="col-8">
        {% if grid_list %}
          <div>
            <button class="btn btn-danger btn-sm" id="clear-grids-btn">清除网格</button>
          </div>
          <table class="table table-sm">
            <thead>
            <tr>
              <th scope="col">索引</th>
              <th scope="col">入场价格</th>
              <th scope="col">出场价格</th>
              <th scope="col">已成交/数量</th>
            </tr>
            </thead>
            <tbody>
            {% for grid in grid_list %}
              <tr {% if grid.holding %}class="text-success"{% endif %}>
                <th scope="row">{{ grid.index }}</th>
                <td>{{ grid.entry_price }}</td>
                <td>{{ grid.exit_price }}</td>
                <td>{{ grid.filled_qty }}/{{ grid.entry_qty }}</td>
              </tr>
            {% empty %}
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <h3>创建网格</h3>
          <form id="make-grids-form" action="{% url "grid-make" %}">
            <div class="form-group row">
              <label for="capital" class="col-sm-2 col-form-label">投资金额(BTC)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="capital" name="capital">
              </div>
            </div>
            <div class="form-group row">
              <label for="leverage" class="col-sm-2 col-form-label">杠杆倍数</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="leverage" name="leverage">
              </div>
            </div>
            <div class="form-group row">
              <label for="min_price" class="col-sm-2 col-form-label">最低价</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="min_price" name="min_price">
              </div>
            </div>
            <div class="form-group row">
              <label for="max_price" class="col-sm-2 col-form-label">最高价</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="max_price" name="max_price">
              </div>
            </div>
            <div class="form-group row">
              <label for="num_grids" class="col-sm-2 col-form-label">网格数量</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="num_grids" name="num_grids">
              </div>
            </div>
            <div class="form-group row">
              <label for="take_profit_range" class="col-sm-2 col-form-label">网格止盈间距</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="take_profit_range" name="take_profit_range">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-sm">创建</button>
              </div>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
      $("document").ready(function () {
          // 创建网格
          $("#make-grids-form").on("submit", function (event) {
              event.preventDefault();
              var $form = $(this);
              var url = $form.attr("action");
              var payload = {
                  'capital': $form.find("input[name='capital']").val(),
                  'leverage': $form.find("input[name='leverage']").val(),
                  'min_price': $form.find("input[name='min_price']").val(),
                  'max_price': $form.find("input[name='max_price']").val(),
                  'num_grids': $form.find("input[name='num_grids']").val(),
                  'take_profit_range': $form.find("input[name='take_profit_range']").val(),
              };

              $.post(url, payload, function (data) {
                  location.reload();
              });
          });

          // 重置网格
          $("#clear-grids-btn").on("click", function (event) {
              $.post("/api/grids/clear/", function (data) {
                  location.reload();
              });
          });
      })
  </script>
  <script>
      var robotId = {{ robot.id }};
      var robotSocket = new WebSocket(
          'ws://'
          + window.location.host
          + '/ws/streams/'
      );

      robotSocket.onmessage = function (e) {
          var data = JSON.parse(e.data);
          var $ele = $('<div class="card-text">' + data.datetime + " " + data.data.msg + '</div>');
          $("#robot-log-console").prepend($ele)
      };

      robotSocket.onclose = function (e) {
          console.error('Robot socket closed unexpectedly');
      };

      robotSocket.onopen = function (e) {
          console.info("Websocket opened!");
          robotSocket.send(JSON.stringify({
              'cmd': "sub",
              'params': ["robot." + robotId],
              "id": "gbot"
          }));
      };
  </script>
{% endblock %}