{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-8">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">交易对</th>
            <th scope="col">运行时间</th>
            <th scope="col">心跳时间</th>
          </tr>
          </thead>
          <tbody>
          {% for robot in robot_list %}
            <tr>
              <th scope="row"><a href="{% url "robots:detail" pk=robot.id %}">{{ robot.id }}</a></th>
              <td>BTCUSD</td>
              <td>{{ robot.start_time }}</td>
              <td>{{ robot.ping_time|timesince }}前</td>
            </tr>
          {% empty %}
          {% endfor %}
          </tbody>
        </table>
        <div>
          <a class="btn btn-sm btn-primary" role="button" href="{% url 'robots:add' %}">新增</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}